// design system

// spacing system

$spacing-0:0rem;
$spacing-unit:0.25rem;
$spacing-xxs:0.5rem;
$spacing-xs:1rem;
$spacing-xs1:1.5rem;
$spacing-sm:2rem;
$spacing-md:2.5rem;
$spacing-lg:3rem;
$spacing-xl:3.5rem;
$spacing-xxl:4rem;
$spacing-3xl:4.5rem;
$spacing-4xl:5rem;
$spacing-5xl:5.5rem;
$spacing-6xl:6rem;

// color system
// color-primary
$color-primary:#e4bf64;
$color-primary-light:#cda43e;
$color-primary-dark:#866a22;
// color-secondary
$color-secondary:#092c58;
$color-secondary-light:#153257;
$color-secondary-dark:#0A1A2E;

// neutral colors
$color-black:black;
$color-white:#ffffff;
$color-grey2:rgb(160, 158, 158);
$color-grey3:#dcdcdc;
$color-grey4:#faf8f8;

// box-shadow

$shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);