.property-home{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    padding: $spacing-sm;
    row-gap: $spacing-xxl;
    @include responsive(mobile){
        grid-column: 1/-1;
        grid-template-columns: 25rem 25rem;
        column-gap: $spacing-xxl;
    }
    @include responsive(tab-land){
        grid-template-columns: 25rem 25rem 25rem;
        padding: $spacing-sm 0;
        grid-column: 1/-1;
        column-gap: $spacing-4xl;
    }
    @include responsive(big-desktop){
        grid-template-columns: 30rem 30rem 30rem;
        grid-column: 2/-1;
        column-gap: $spacing-6xl;
    }
 &__1,&__2,&__3,
 &__4,&__5,&__6{
    .card{
        &>img{
            width: $spacing-sm;
            position: absolute;
            right: $spacing-xs;
            top: $spacing-xs;
        }
        position: relative;
        background-color: #efeee7;
        &__img{
            &>img{
                width: 35rem;
                @include responsive(mobile){
                    width: 25rem;
                }
                @include responsive(tab-land){
                  width: 25rem;
                }
                @include responsive(big-desktop){
                    width: 30rem;
                }
            }
        }
        &__heading{
            &>h4{
                width: 80%;
                background-color:#0A1A2E ;
                color: $color-white;
                padding: $spacing-xs $spacing-xs;
                text-align: center;
                position: absolute;
                top:53%;
                left: 10%;
                @include responsive(mobile){
                    top: 45%;
                }
                @include responsive(tab-land){
                    top: 45%;
                }
                @include responsive(big-desktop){
                    top: 50%;
                }
            }
        }
        &__details{
            padding: $spacing-xxl $spacing-xs $spacing-lg $spacing-xs;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            row-gap: $spacing-md;
            @include responsive(mobile){
                justify-items: center;
            }
            .location{
                display: flex;
                align-items: center;
                gap: $spacing-xs;
                &>span{
                    color: $color-secondary-light;
                }
                &>img{
                    width: $spacing-sm;
                }
            }
            .rooms{
                display: flex;
                align-items: center;
                gap: $spacing-xs;
                &>span{
                    color: $color-secondary-light;
                }
                &>img{
                    width: $spacing-sm;
                }
            }
            .landarea{
                display: flex;
                align-items: center;
                gap: $spacing-xs;
                &>span{
                    color: $color-secondary-light;
                }
                &>img{
                    width: $spacing-sm;
                }
            }
            .price{
                display: flex;
                align-items: center;
                gap: $spacing-xs;
                &>span{
                    color: $color-secondary-light;
                }
                &>img{
                    width: $spacing-sm;
                }
            }
        }
        &__btn{
            &>button{
                padding: $spacing-xs $spacing-xs1;
                background-color: $color-primary-light;
                color: $color-white;
                border: none;
                cursor: pointer;
                width: 100%;
                &:hover{
                background-color: $color-primary-dark;
                }
             }
            }
        }
    }
}
